<html lang="en">
    <body id="page-top">
        <body id="page-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <div class="container px-4">
                    <a class="navbar-brand" href="#page-top">CV Analyzer Pro</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" routerLink="/offers">Offers</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/quizz">Quiz</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/profile">Profile</a></li>
                            <li class="nav-item"><a class="nav-link bi bi-door-open" (click)="login()" routerLink="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to CV Analyzer Pro - Your Ultimate Hiring Solution!</h1>
                <p class="lead">Join CV Analyzer Pro today and revolutionize the way you hire top talent for your organization. With our intuitive platform and powerful features,  </p>
                <p class="lead">you'll find the perfect candidates faster and more effectively than ever before!</p>
                <a class="btn btn-lg btn-light" type="submit" routerLink="/register">Join Us!</a>
            </div>
        </header>
        
        <section class="bg-light" id="key">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Key Features:</h2>
                        <p class="lead">1-Seamless Job Posting: Recruiters can effortlessly post job vacancies directly on our platform, customizing job descriptions and requirements to attract the right candidates.</p>
                            <p class="lead">2-Advanced CV Upload: Candidates submit their CVs through the platform, and recruiters have full access to review and analyze each applicant's qualifications and experience.</p>
                            <p class="lead">3-Automated Candidate Screening: Our platform automatically filters candidate applications based on specified criteria, saving recruiters valuable time and effort in the initial screening process.</p>
                            <p class="lead"> 4-Integrated Testing Module: Qualified candidates are invited to take pre-defined tests directly within the platform, allowing recruiters to assess their skills and competencies before proceeding to the interview stage.</p>
                                <p class="lead"> 5-Interview Scheduling: Recruiters can schedule interviews seamlessly through the platform, managing availability, sending invitations, and receiving confirmations from candidates—all in one centralized location.</p>
                                    <p class="lead">6-Comprehensive Candidate Profiles: Recruiters have access to detailed candidate profiles, including CVs, test results, interview feedback, and notes, enabling informed decision-making throughout the hiring process.</p>
                                        <p class="lead">7-Secure Data Management: We prioritize the security and confidentiality of all data on our platform, implementing robust encryption and compliance measures to protect sensitive information.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Our Mission:</h2>
                        <p class="lead">At CV Analyzer Pro, our mission is to empower recruiters with the tools and resources they need to make informed hiring decisions and build high-performing teams. We're committed to driving efficiency, transparency, and excellence in the recruitment process.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light" id="ready">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2>Ready to Transform Your Hiring Process?</h2>
                        <p class="lead">Experience the power of CV Analyzer Pro and elevate your recruitment strategy to new heights. Sign up today and discover a smarter way to hire!</p>
                        <a class="btn btn-lg btn-light custom-btn" routerLink="/register">Join Us!</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; CV Analyser Pro 2024</p></div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
